# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "C1zNii905zzFJWubXHYNgYgJpd/eUjeupgXxqKCHD1GD2G6GyEjdpZSP/TNx2WpKQ7Ap2B4uTd4VewyvQhrBzkjAIGnDMdZeM0l3eHV/bSk9f+LI7cBe3S2y1/imhUGKlIR0hbbMCscVxADep1h0mku/VR0bnFJYwhrv2fyI1HQR48Yrgv8yc3wcowRcmmViPdiUq1HPjt/X641iM5xBXyZuEooowyeSAsn6euKzgFyuixjdNGZDiVD16ar6fRLwNGBNEtCdqmSO9+2JzYyLOTKf5Zw9+2lBBpX58jrM8Z2rt2U/cpg9uEosZd8Bc0Nba/mFWZ1wgs0DXcb3px/zIBS1NRh07IPMibpHvE4HitRiYc0rM02l1DKPtlIWPXZtI/vZE6XlqkLm1PgHVlG2byCAN1IpxAarFrB7RYcvO1gvN3Y7DVGadMASeptMrQabIBl4F5grfjj9jhHUeMs1HW7XP6dKfvYPosW99f9UH/JG6nejj+m6d/BZV2tA56FNSXMRiL4Pny5v+xwYv6RF2moE+f/Zn+a3u2xhqMYJ+IB/tenlPMoAUB0QzOU2dtfwnJWQRkTcW/wZ9W0I0Nw52KhU7kBqyxodcncDTyLw6HBOwk+E17c3pPo+iLibubfrOAb8/QvkSa/d6M1kSevkLdv7sxgRiKVnOPXdWbkdPh0="


before_install:
    - brew remove --force $(brew list)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda update --yes conda
      conda install --yes conda-build jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
